<ul class="podcasts">
  $for(posts)$
    <li class="podcast">
      <header>
        <span class="title">$title$</span> 
        <span class="date">$date$</span>
      </header>
      <article>
        <div class="summary">
          $summary$
          <div class="read-post">
            <a href="$url$">Read the companion blog post</a>
          </div>
        </div>
        <iframe scrolling="no" frameborder="no" 
                src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/$soundcloud$&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;"></iframe>
      </article>
    </li>
  $endfor$
</ul>
